/*Film Detail tổng*/
.filmdetail-container {
  background-color: #0F172A;
  min-height: 100vh;
  margin-top: 0; /* Đặt giá trị margin-top là 0 */
}

body {
  margin: 0;
  padding: 0;
}


  
.filmdetail-show {
    display: flex;
    margin-top: 50px; /* Điều chỉnh giá trị margin-top ở đây */
    padding-top: 80px; /* Điều chỉnh giá trị padding-top ở đây */
    width: 100%;
    height: 110vh;
    background: radial-gradient(
      circle at 5% 5%, /* Vị trí xuất hiện của màu thứ nhất */
      #5C3EA4 0%, /* Màu thứ hai */
      #0F172A 50%, /* Màu thứ nhất */
      #4159BF 110% /* Màu thứ ba */
    );
}

.filmdetail-img {
    margin-left: 180px;
    margin-top: 100px;
    width: auto; /* Độ rộng của ảnh phim */
    height: 600px; /* Chiều cao tự động điều chỉnh để giữ tỷ lệ */ 
    border-radius: 5px; 
  }

.filmdetail-info {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.filmdetail-name {
    color:white;
    font-size: 42px;
    margin-top: 90px;
    font-weight: bold;
}

.showtimes {
    width: 100%;
    height: 50vh;
    background: radial-gradient(
      circle at 5% 5%, /* Vị trí xuất hiện của màu thứ nhất */
      #5C3EA4 0%, /* Màu thứ hai */
      #0F172A 50%, /* Màu thứ nhất */
      #4159BF 110% /* Màu thứ ba */
    );
}

.showtimes-text {
    color:white;
    display: flex;
    font-size: 42px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    position: relative; /* Sử dụng vị trí tương đối */
    top: 50px; /* Di chuyển chữ xuống 50px */
}

.showtimes-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Sử dụng vị trí tương đối */
    top: 100px; /* Di chuyển chữ xuống 50px */
    margin-left: 40px;
}

.showtime-item {
  width: 100px;
  height: 100px;
  border: 2px solid yellow;
  margin-bottom: 5px;
  text-align: center;
  margin-right: 50px;
  color:yellow;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}

.showtime-item p {
  line-height: 0.5; /* Điều chỉnh khoảng cách giữa các dòng văn bản */
  white-space: nowrap;
  position: relative; /* Sử dụng vị trí tương đối */
  top: 15px; /* Di chuyển chữ xuống 50px */
}

.showtime-item.selected {
  background-color: yellow;
}

.showtime-item.selected p {
  color: #0F172A;
}

.showtime-item :hover {
  cursor: pointer;
}

/*Cinema*/
.cinema-container {
  width: 100%;
  height: 90vh;
  background: radial-gradient(
    circle at 5% 5%,
    #5C3EA4 0%,
    #0F172A 50%,
    #4159BF 110%
  );
  padding: 100px; /* Thêm padding để tạo khoảng cách */
}

.cinema-title {
  display: flex;
}

.cinema-text {
  color: white;
  font-size: 42px;
  font-weight: bold;
  margin-left: 250px;
}

.cinema-location {
  margin-left: 405px; /* Đẩy danh sách location cinema sang bên phải */
  margin-top: 20px;
}

.selected-cinema {
  color: yellow;
}

.custom-item {
  cursor: pointer;
}

.cinema-list {
  display: flex; /* Sử dụng flexbox */
  flex-direction: column; /* Hiển thị các phần tử theo chiều dọc */
  align-items: flex-start; 
  margin-top: 40px;
  margin-left: 250px;
}

.cinema-list :hover {
  cursor: pointer;
}

.cinema-detail {
  border: 2px solid #663399; /* Định dạng border màu tím */
  background-color: #663399;
  padding: 10px; /* Thêm padding để tạo khoảng cách giữa border và nội dung */
  margin-bottom: 40px; /* Thêm margin dưới để tạo khoảng cách giữa các phần tử */
  border-radius: 5px;
  width: 900px;
  height: 150px;
}

.cinema-detail.selected {
  border-color: yellow; /* Thay đổi màu viền khi được chọn */
}

.cinema-name-time {
  display: flex;
  justify-content: space-between; /* Canh giữa các phần tử bên trong */
  width: 100%; /* Đảm bảo phần tử đầy đủ chiều rộng của parent */
}

.cinema-name {
  font-size: 30px;
  color: yellow;
  font-weight: bold;
  margin-left: 20px;
}

.cinema-time {
  color: white;
  font-size: 20px;
  margin-top: 11px;
  margin-right: 20px; /* Đưa thời gian về bên phải */
}

.cinema-address {
  color: white;
  font-size: 20px;
  margin-top: 8px;
  margin-left: 22px;
}

.cinema-room {
  color: white;
  font-size: 20px;
  margin-top: 8px;
  margin-left: 22px;
  font-weight:bold;
}

.no-cinemas {
  text-align: center; /* căn giữa nội dung */
  color: white; /* màu trắng */
  font-size: 30px; /* kích thước chữ */
  margin-top: 20px; /* tạo khoảng cách từ phía trên */
  margin-left: 250px;
}

/*Ticket*/
.ticket-container {
  width: 100%;
  height: 70vh;
  background: radial-gradient(
    circle at 5% 5%,
    #5C3EA4 0%,
    #0F172A 50%,
    #4159BF 110%
  );
  padding: 100px; /* Thêm padding để tạo khoảng cách */
}

.ticket-text-hp {
  text-align: center; /* căn giữa nội dung */
  color: white; /* màu trắng */
  font-size: 42px; /* kích thước chữ */
  font-weight: bold;
}

.ticket-list {
  display: flex;
  justify-content: center;
}

.ticket-detail {
  margin-right: 30px;
  border: 1px solid white; /* Định dạng border màu tím */
  background-color: #0F172A  ;
  padding: 15px; /* Thêm padding để tạo khoảng cách giữa border và nội dung */
  margin-bottom: 40px; /* Thêm margin dưới để tạo khoảng cách giữa các phần tử */
  border-radius: 5px;
  width: 300px;
  height: 130px;
  margin-top: 80px;
}

.ticket-detail :hover {
  cursor: pointer;
}

.ticket-detail.selected {
  border-color: yellow; /* Thay đổi màu viền khi được chọn */
}

.name-ticket {
  color: white;
  font-weight: 700;
}

.type-ticket {
  color: gold;
  font-weight: 700;
  margin-top: 10px;
}

.price-ticket {
  color: white;
  font-weight: 700; 
  margin-top: 10px;
}

/*Screen*/
.seat-container {
  width: 100%;
  height: 110vh;
  background: radial-gradient(
    circle at 5% 5%,
    #5C3EA4 0%,
    #0F172A 50%,
    #4159BF 110%
  );
  padding: 100px; /* Thêm padding để tạo khoảng cách */ 
}

.line {
  top: 50%; /* Đặt đường thẳng ở giữa theo chiều dọc */
  left: 0;
  width: 70%; /* Chiều dài đường thẳng bằng với chiều rộng của màn hình */
  height: 6px; /* Độ dày của đường thẳng */
  background-color: white; /* Màu sắc của đường thẳng */
  margin-left: 180px;
}

.screen-text {
  color: white;
  font-weight: 700; 
  font-size: 35px;
  margin-left: 550px;
}



.seat-plan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 100px; /* Đẩy toàn bộ khối xuống cách trên cùng 100px */
  margin-left: 170px; /* Đẩy toàn bộ khối sang phải cách trái 170px */
}

.seat-row {
  display: grid;
  grid-template-columns: auto repeat(8, 1fr); /* Tạo lưới với cột tự động và 8 cột cho ghế */
  gap: 10px; /* Khoảng cách giữa các ghế */
  align-items: center; /* Căn giữa các phần tử trong hàng theo chiều dọc */
  margin-bottom: 20px; /* Tăng khoảng cách giữa các hàng ghế */
}

.row-label {
  margin-right: 150px; /* Khoảng cách giữa nhãn hàng và các ghế */
  padding: 5px 10px;
  font-weight: bold; /* In đậm nhãn hàng */
  color: white;
}

.seat-row{
  cursor: pointer;
}

.seat {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 5px 10px;
  margin-right: 30px;
}

.seat.selected {
  background-color: yellow; /* Màu vàng cho ghế đã chọn */
  border-color: yellow;
}

.seat.bought {
  /* CSS cho các ghế đã được mua */
  background-color: #ffff00; /* Màu nền vàng */
  border-color: yellow;
}