/*Home page tổng*/
.homepage-container {
  background-color: #0F172A;
  min-height: 100vh;
  margin-top: 0; /* Giảm giá trị margin-top hoặc đặt là 0 */
}

.homepage-main {
  margin-top: 10px; /* Điều chỉnh giá trị margin-top ở đây */
  padding-top: 10px; /* Điều chỉnh giá trị padding-top ở đây */
  font-family:  "Anton", sans-serif;
}

/*Poster*/
.poster {
  margin-top: 150px; /* Điều chỉnh giá trị margin-top tại đây */
  width: 80%;
  height: 47vh;
  background-color: #0F172A;
  margin-left: 150px;
}

.img-fluid{
  width: 1150px;
}
/*Phim đang chiếu*/
.movie-showing {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 110vh;
  background: radial-gradient(
    circle at 5% 5%, /* Vị trí xuất hiện của màu thứ nhất */
    #5C3EA4 0%, /* Màu thứ hai */
    #0F172A 50%, /* Màu thứ nhất */
    #4159BF 110% /* Màu thứ ba */
  );
}


.ms-text {
  display: flex;
  flex-direction: column; /* Hiển thị các phần tử con theo chiều dọc */
  align-items: center;
  justify-content: center;

  margin-top: 100px;
  color: white; /* Màu trắng */
  font-size: 33px; /* Kích thước phóng to */
  font-weight: bold; /* In đậm */
}

.ms-film {
  display: flex;
  margin-top: 50px;
}

.ms-film-detail{
  display: flex;
  flex-direction: column; /* Hiển thị các phần tử con theo chiều dọc */
  margin-right: 10px; /* Tạo khoảng cách bên phải mỗi bộ phim, trừ bộ phim cuối cùng */
  margin-left: 40px;
}

.ms-film-img {
  width: auto; /* Độ rộng của ảnh phim */
  height: 400px; /* Chiều cao tự động điều chỉnh để giữ tỷ lệ */  
}

.ms-film-title {
  text-align: center; /* Căn giữa văn bản */
  margin-top: 20px; /* Khoảng cách giữa ảnh và chữ */
  color: white; /* Màu chữ trắng */
  font-size: 24px; /* Kích thước chữ phóng to */
  font-weight: bold; /* Chữ in đậm */
}


.ms-film-detail {
  position: relative; /* Thiết lập vị trí tương đối để chúng ta có thể dịch chuyển ảnh phim */
}

.ms-film-img {
  transition: transform 0.3s ease; /* Hiệu ứng mượt mà khi di chuyển */
}

.ms-film-img:hover  {
  transform: translateY(-10px); /* Di chuyển ảnh lên trên một chút khi hover */
  color: yellow; /* Chuyển màu chữ sang màu vàng khi hover */
  filter: brightness(150%); /* Tăng độ sáng của ảnh khi hover */
}

.ms-film-title {
  transition: color 0.3s ease; /* Hiệu ứng mượt mà khi thay đổi màu */
  text-decoration: none;
}

.ms-film-img:hover + .ms-film-title {
  color: yellow; /* Chuyển màu chữ sang màu vàng khi hover */
}

.ms-film-detail:hover img {
  filter: brightness(150%); /* Tăng độ sáng của ảnh khi hover */
}

.ms-film-title:hover + .ms-film-img {
  transform: translateY(-10px); /* Di chuyển ảnh lên trên một chút khi hover */
  filter: brightness(150%); /* Tăng độ sáng của ảnh khi hover */
}

.ms-film-title:hover{
  color: yellow; /* Chuyển màu chữ sang màu vàng khi hover */
}

.trailer-ticket {
  display: flex;
  margin-top: 10px;
}

.trailer {
  display: flex;
  align-items: center; /* Căn chỉnh phần tử con theo chiều dọc */
  color: white; /* Thiết lập màu chữ là màu trắng */
  text-decoration: underline; /* Gạch chân cho chữ */
  margin-right: 40px;
  margin-left: 20px;
}

.trailer > svg {
  width: 24px; /* Thiết lập chiều rộng của icon */
  height: 24px; /* Thiết lập chiều cao của icon */
  margin-right: 5px; /* Tạo khoảng cách giữa icon và chữ */
}

.ticket-text {
  border-radius: 5px; /* Bo tròn góc */
  border: 2px solid yellow; /* Thiết lập border cho chữ */
  background-color: yellow;
  color: black; /* Thiết lập màu chữ là màu đen */
  padding: 5px 10px; /* Thêm padding để tạo khoảng cách giữa chữ và border */
  transition: border-color 0.3s, background-color 0.3s; /* Hiệu ứng chuyển màu */
  font-weight: bold;
}

.ticket-text:hover {
  border-color: #4E4AB0; /* Chuyển màu border khi hover */
  background-color: #4E4AB0; /* Chuyển màu background khi hover */
  color: white; /* Chuyển màu chữ thành màu trắng khi hover */
  cursor: pointer;
}

  
.chevron-button {
  color: white;
  margin-top: 200px;
}

.chevron-button:hover {
  transform: scale(1.2); /* Thay đổi kích thước icon khi hover */
  color: yellow; /* Chuyển màu chữ sang màu vàng khi hover */
}

/*Phim sắp chiếu*/
.movie-coming-soon {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 110vh;
  background: radial-gradient(
    circle at 5% 5%, /* Vị trí xuất hiện của màu thứ nhất */
    #5C3EA4 0%, /* Màu thứ hai */
    #0F172A 50%, /* Màu thứ nhất */
    #4159BF 110% /* Màu thứ ba */
  );
}

.mcs-text {
  display: flex;
  flex-direction: column; /* Hiển thị các phần tử con theo chiều dọc */
  align-items: center;
  justify-content: center;

  margin-top: 100px;
  color: white; /* Màu trắng */
  font-size: 33px; /* Kích thước phóng to */
  font-weight: bold; /* In đậm */
}

.mcs-film {
  display: flex;
  margin-top: 50px;
}

.mcs-film-detail{
  display: flex;
  flex-direction: column; /* Hiển thị các phần tử con theo chiều dọc */
  margin-right: 10px; /* Tạo khoảng cách bên phải mỗi bộ phim, trừ bộ phim cuối cùng */
  margin-left: 40px;
}

.mcs-film-img {
  width: auto; /* Độ rộng của ảnh phim */
  height: 400px; /* Chiều cao tự động điều chỉnh để giữ tỷ lệ */  
}

.mcs-film-title {
  text-align: center; /* Căn giữa văn bản */
  margin-top: 20px; /* Khoảng cách giữa ảnh và chữ */
  color: white; /* Màu chữ trắng */
  font-size: 24px; /* Kích thước chữ phóng to */
  font-weight: bold; /* Chữ in đậm */
}


.mcs-film-detail {
  position: relative; /* Thiết lập vị trí tương đối để chúng ta có thể dịch chuyển ảnh phim */
}

.mcs-film-img {
  transition: transform 0.3s ease; /* Hiệu ứng mượt mà khi di chuyển */
}

.mcs-film-img:hover  {
  transform: translateY(-10px); /* Di chuyển ảnh lên trên một chút khi hover */
  color: yellow; /* Chuyển màu chữ sang màu vàng khi hover */
  filter: brightness(150%); /* Tăng độ sáng của ảnh khi hover */
}

.mcs-film-title {
  transition: color 0.3s ease; /* Hiệu ứng mượt mà khi thay đổi màu */
}

.mcs-film-img:hover + .mcs-film-title {
  color: yellow; /* Chuyển màu chữ sang màu vàng khi hover */
}

.mcs-film-detail:hover img {
  filter: brightness(150%); /* Tăng độ sáng của ảnh khi hover */
}

.mcs-film-title:hover + .mcs-film-img {
  transform: translateY(-10px); /* Di chuyển ảnh lên trên một chút khi hover */
  filter: brightness(150%); /* Tăng độ sáng của ảnh khi hover */
}

.mcs-film-title:hover{
  color: yellow; /* Chuyển màu chữ sang màu vàng khi hover */
}

.trailer-ticket-cs {
  display: flex;
  margin-top: 10px;
}

.trailer-cs {
  display: flex;
  align-items: center; /* Căn chỉnh phần tử con theo chiều dọc */
  color: white; /* Thiết lập màu chữ là màu trắng */
  text-decoration: underline; /* Gạch chân cho chữ */
  margin-right: 40px;
  margin-left: 20px;
}

.trailer-cs > svg {
  width: 24px; /* Thiết lập chiều rộng của icon */
  height: 24px; /* Thiết lập chiều cao của icon */
  margin-right: 5px; /* Tạo khoảng cách giữa icon và chữ */
}

.ticket-text-cs {
  border-radius: 5px; /* Bo tròn góc */
  border: 2px solid yellow; /* Thiết lập border cho chữ */
  background-color: yellow;
  color: black; /* Thiết lập màu chữ là màu đen */
  padding: 5px 10px; /* Thêm padding để tạo khoảng cách giữa chữ và border */
  transition: border-color 0.3s, background-color 0.3s; /* Hiệu ứng chuyển màu */
  font-weight: bold;
}

.ticket-text-cs:hover {
  border-color: #4E4AB0; /* Chuyển màu border khi hover */
  background-color: #4E4AB0; /* Chuyển màu background khi hover */
  color: white; /* Chuyển màu chữ thành màu trắng khi hover */
}

  
.chevron-button-cs {
  color: white;
  margin-top: 200px;
}

.chevron-button-cs:hover {
  transform: scale(1.2); /* Thay đổi kích thước icon khi hover */
  color: yellow; /* Chuyển màu chữ sang màu vàng khi hover */
}

/*Membership*/
.membership {
  position: relative;
  width: 100%;
  height: auto;
}

.m-large {
  width: 100%;
  height: auto;
  display: block;
}

.membership-text {
  position: absolute;
  top: 10%;
  left: 28%;
  color:white;
  font-size: 50px;
  font-weight: bold;
}

.membership-small-pic{
  position: absolute;
  top:50%;
}

.m-small-1 {
  margin-left: 80px;
  border-radius: 10px;
  border: 2px solid gold;
}

.m-small-2 {
  margin-left: 120px;
  border-radius: 10px;
  border: 2px solid gold;
}

.Link {
  text-decoration: none;
}
